@charset "UTF-8";

/* Reset */
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

/* Variáveis */
    :root {
        --branco: #ffffff;
        --cinza: #808080;
        --fonte-padrao: ;
        --preto: #000000;
    }

/* Versão desktop */


/* Versão mobile */
@media (max-width: 768px) {

}

/* Versão tablet */
@media (min-width: 769px) and (max-width: 1024px) {

}